@{
    ViewData["Title"] = "Erro";
}
@model string

<h1 class="text-center mt-3">Algo deu errado por favor tente novamente mais tarde se possivel!</h1>

<div class="text-center">
    <img src="/img/Dinossauro.jpg" alt="Dinosauro do Google" class="img-fluid">
</div>

<h3 class="text-center">Tente novamente mais tarde ou agora retornado para a pagina inicial.</h3>

<p class="text-center">@Model</p>